.sub-plans {
	border-bottom:2px solid #448899;
	font-size:12px;
	margin:0 0 20px;
	padding:0;
	width:860px;
}

.sub-plans .plans th {
	background:transparent none repeat scroll 0 0;
	border-right:0 none;
}

.sub-plans .plans h2 {
	margin:0 0 0;
}

.sub-plans .plans a:link {
	color:#2299CC;
	text-decoration:none;
}

.sub-plans .strong td {
	font-size:18px;
	font-weight:bold;
}

.sub-plans .plans span {
	color:#FF4400;
}

.sub-plans th {
	background:#DDFFBB none repeat scroll 0 0;
	border-bottom:1px solid #C8F6B6;
	border-right:1px solid #C8F6B6;
	font-weight:normal;
	margin:0;
	padding:8px 11px;
	text-align:left;
}

.sub-plans .plans td {
	background:#EEFFFF none repeat scroll 0 0;
	border-bottom:1px solid #BBEEFF;
	border-right:1px solid #BBEEFF;
	line-height:18px;
	padding:12px 0;
}

.sub-plans td {
	background:#FFFFFF none repeat scroll 0 0;
	border-bottom:1px solid #EEEEEE;
	border-right:1px solid #EEEEEE;
	margin:0;
	padding:8px 0;
	text-align:center;
	width:120px;
}