/*
Template:	GT-101
File:		gt-styles.css - This contains all the Gooey styles for the template.

All the styles are separted into the following groups:
HTML, Body - for the html and body tags
Layout - any style that defines how the site is laid out (position and size of objects)
Modules - styles for modules
Nav - navigation bar
Headings - headings like h1, h2, etc
Text Styles - Styles for text
Lists - unordered and ordered lists
Forms - html forms
Links - links
Misc - anything that doesn't fit elsewhere
*/

/* @group HTML, Body */
body {
	font-family: Arial, sans-serif;
}
/* @end */

/* @group Layout */
/* Heading Styles */
.gt-hd {
	background: url(../images/gt/hd-bkg.gif) repeat-x 0 0 #004878;
	padding-top: 1px;
}
.gt-hd .gt-logo {
	margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 15px;
	color: #fff;
	font-size: 215%;
	font-weight: normal;
	float: left;
	display: inline;
}

/* Body Styles */
.gt-bd {
	background: url(../images/gt/bd-top-fade.gif) repeat-x 0 0;
	padding: 15px 35px;
}
.gt-cols .gt-content {
	width: 65%;
	float: left;
	display: inline;
}
.gt-cols .gt-sidebar {
	width: 30%;
	float: right;
	display: inline;
}
.gt-left-col {
	width: 48%;
	float: left;
	display: inline;
}
.gt-right-col {
	width: 48%;
	float: right;
	display: inline;
}

/* Footer Styles */
.gt-footer {
	clear: both;
	border-top: 1px solid #aaa;
	font-size: 93%;
	color: #666666;
	padding: 10px;
	margin: 20px 35px;
	text-align: center;
}
/* @end */

/* @group Modules */
/* Width Styles */
.gt-width-33 {
	width: 33%;
}
.gt-width-66 {
	width: 66%;
}
.gt-width-99 {
	width: 99%;
}
.gt-width-25 {
	width: 25%;
}
.gt-width-50 {
	width: 50%;
}
.gt-width-75 {
	width: 75%;
}
.gt-width-100 {
	width: 100%;
}


/* Utility Box Styles */
.gt-util-box {
	margin-right: 20px;
	background: url(../images/gt/util-box-right-bkg.gif) no-repeat 100% 100%;
	color: #eee;
	font-size: 93%;
	float: right;
	display: inline;
}
.gt-util-box p {
	margin: 0;
}
.gt-util-box a:link, .gt-util-box a:visited {
	color: #eee;
	text-decoration: none;
}
.gt-util-box a:hover {
	text-decoration: underline;
}
.gt-util-box-inner {
	background: url(../images/gt/util-box-left-bkg.gif) no-repeat 0 100%;
	padding: .35em 2em;
}


/* Breadcrumb */
.gt-breadcrumb {
	font-size: 85%;
	padding-bottom: 6px;
	border-bottom: 1px solid #aaa;
	margin-bottom: 18px;
	color: #aaa;
}
.gt-breadcrumb p {
	margin: 0;
}
.gt-breadcrumb .gt-separator {
	padding: 0 4px;
}
.gt-breadcrumb a:link, .gt-breadcrumb a:visited {
	color: #666666;
	text-decoration: none;
}
.gt-breadcrumb a:hover {
	text-decoration: underline;
}
.gt-breadcrumb a.gt-current:link, .gt-breadcrumb a.gt-current:visited {
	color: #333;
}

/* Default List Table */
.gt-list-table {
	width: 100%;
}
.gt-list-table th {
	background: url(../images/gt/table-hd-bkg.gif) no-repeat 50% 0;
	font-weight: bold;
	font-size: 123.1%;
	padding: 10px;
	color: #fff;
}
.gt-list-table th.gt-first {
	background: url(../images/gt/table-hd-bkg.gif) no-repeat 0 0;
}
.gt-list-table th.gt-last {
	background: url(../images/gt/table-hd-bkg.gif) no-repeat 100% 0;
}
.gt-list-table tbody td {
	padding: 7px 10px;
	background-color: #e9eff9;
	border-bottom: 1px solid #fff;
	color: #333;
}
.gt-table-buttons {
	margin: 10px 0 20px 0;
}
.gt-list-table a:link, .gt-list-table a:visited {
	color: #333;
	text-decoration: none;
}
.gt-list-table td a {
	font-weight: bold;
}
.gt-list-table td a:hover {
	text-decoration: underline;
}

/* Table Pager, Table Select Box */
.gt-table-controls {
	margin-bottom: 6px;
	font-size: 93%;
}
.gt-table-controls .gt-table-picker {
	float: left;
	display: inline;
}
.gt-table-controls .gt-table-pager {
	margin: 0 2px 0 0;
	color: #aaa;
	float: right;
	display: inline;
}
.gt-table-controls .gt-table-pager a {
	padding: 0 2px;
}
.gt-table-controls .gt-table-pager a:link, .gt-table-controls .gt-table-pager a:visited {
	color: #666666;
	text-decoration: none;
}
.gt-table-controls .gt-table-pager a.current:link, .gt-table-controls .gt-table-pager a.current:visited {
	color: #333;
	text-decoration: underline;
}
.gt-table-controls .gt-table-pager a:hover {
	text-decoration: underline;
}

/* Default Table Columns */
.gt-list-table td {
	width: auto;
}
.gt-list-table th.gt-table-col-checkbox {
	width: 20px;
}

/* Login Box Styles */
body.gt-login {
	background-color: #00001a;
}
.gt-login-hd {
	width: 375px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-size: 197%;
	color: #fff;
}
.gt-login-box {
	width: 409px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 175px;
}
.gt-login-box-top {
	background: url(../images/gt/login-form-top-bkg.gif) no-repeat 0 0;
	width: 329px;
	padding: 25px 40px 5px 40px;
}
.gt-login-box-btm {
	width: 409px;
	height: 18px;
	background: url(../images/gt/login-form-btm-bkg.gif) no-repeat 0 0;
	padding: 1px 0;
	overflow: hidden;
}

/* Button Listing Style */
.gt-button-listing {
	margin-bottom: 20px;
}
.gt-button-listing strong {
	color: #666666;
}
.gt-button-listing img {
	margin-top: 5px;
}


/* @end */

/* @group Nav */
/* Main Navigation */
.gt-nav {
	margin-left: 20px;
	clear: both;
}
.gt-nav ul li {
	background: url(../images/gt/nav-tab-right.gif) no-repeat 100% 0;
	margin: 0 2px;
	float: left;
	display: inline;
}
.gt-nav ul li a {
	background: url(../images/gt/nav-tab-left.gif) no-repeat 0 0;
	display: block;
	padding: .75em 2.2em;
	font-weight: bold;
	float: left;
	display: inline;
}
.gt-nav a:link, .gt-nav a:visited {
	color: #333;
	text-decoration: none;
	font-size: 108%;
}
.gt-nav a:hover {
	color: #000;
}

/* Sidebar Navigation */
.gt-sidebar-nav {
	margin-bottom: 20px;
}
.gt-sidebar-nav ul {
	margin: 0;
	padding: 0;
}
.gt-sidebar-nav ul li {
	padding: 0 0 1px 0;
	margin: 0;
	list-style-type: none;
}
.gt-sidebar-nav ul li a {
	display: block;
	padding: .6em .6em .6em 1.8em;
}
.gt-sidebar-nav a:link, .gt-sidebar-nav a:visited {
	color: #000;
	text-decoration: none;
	background-color: #e9eff9;
}
.gt-sidebar-nav a:hover {
	background-color: #4890d8;
	color: #fff;
	text-decoration: none;
}
.gt-sidebar-nav h3 {
	font-size: 116%;
	margin: 0;
	background-color: #004878;
	padding: .6em .6em .6em 1.2em;
	color: #fff;
}
/* @end */

/* @group Headings */
h1 {
	font-size: 182%;
	color: #4890d8;
	margin-bottom: 10px;
}

/* H2 */
h2 {
	font-size: 161.6%;
	color: #4890d8;
	margin-bottom: 10px;
}
h2.gt-table-head, h2.gt-form-head {
	margin-bottom: 6px;
}
h3 {
	font-size: 138.5%;
	color: #333;
	margin-bottom: 10px;
}
h4 {
	font-size: 123.1%;
	color: #333;
	margin-bottom: 10px;
	font-weight: bold;
}
h5 {
	font-size: 123.1%;
	color: #333;
	margin-bottom: 10px;
}
h6 {
	font-size: 100%;
	color: #4890d8;
	margin-bottom: 10px;
	font-weight: bold;
}
/* @end */

/* @group Text Styles */
address {
	margin-bottom: 10px;
}
blockquote {
	margin: 10px 40px 20px 40px;
	font-style: italic;
}
code {
	font-family: monospace;
}
dl {
	margin-left: 30px;
	margin-bottom: 20px;
}
dl dt {
	font-weight: bold;
}
dl dd {
	margin-left: 10px;
	margin-bottom: 5px;
}
em {
	font-style: italic;
}
p {
	margin-bottom: 10px;
	line-height: 130%;
}
q {
	font-style: italic;
}
strong {
	font-weight: bold;
}
tt {
	font-family: monospace;
}


/* Custom Text Classes */
.gt-cancel {
	color: #666666;
}
.gt-cancel a:link, .gt-cancel a:visited {
	color: #cc0000;
	text-decoration: underline;
}
.gt-cancel a:hover {
	text-decoration: none;
}

.gt-error {
	background-color: #cc0000;
	padding: .5em;
	color: #fff;
}
.gt-notice-box {
	border: 3px solid #aaa;
	padding: 1em;
	background-color: #f5f9ea;
}
.gt-success {
	background-color: #6caa00;
	padding: .5em;
	color: #fff;
}
/* @end */

/* @group Lists */
ol {
	margin-bottom: 20px;
}
ol li {
	list-style-type: decimal;
	margin-left: 40px;
	margin-bottom: 2px;
}
ul {
	margin-bottom: 20px;
}
ul li {
	list-style-type: disc;
	margin-left: 35px;
	margin-bottom: 2px;
}
/* @end */

/* @group Forms */
/* Default Form */
.gt-form {
	
}
.gt-form .gt-form-text, .gt-form .gt-form-textarea {
	border: 1px solid #aaa;
	background-color: #f5f9ea;
	padding: 1%;
	font-size: 108%;
	width: 98%;
}
.gt-form label {
	font-size: 116%;
	color: #454545;
	display: block;
	margin-bottom: 3px;
}
.gt-form option {
	font-size: 108%;
}
.gt-form .gt-form-row {
	margin-bottom: 10px;
}

/* Auto clear the form row */
.gt-form .gt-form-row:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.gt-form-row {display: inline-block;}

/* Hides from IE-mac \*/
* html .gt-form-row {height: 1%;}
.gt-form-row {display: block;}
/* End hide from IE-mac */
/* End auto clearing the form row */

.gt-form .gt-form-row-inline {
	clear: left;
}
.gt-form .gt-form-row-inline label {
	width: 30%;
	margin-right: 4%;
	padding: 1% 0;
	float: left;
	display: inline;
}
.gt-form .gt-form-element-label {
	font-size: 93%;
	margin-bottom: 5px;
	padding-left: 3px;
}
.gt-form .gt-form-note {
	font-size: 93%;
	margin: 0 0 5px 0;
	font-style: italic;
	color: #666666;
}
.gt-form .gt-form-row-inline .gt-form-text {
	width: 63%;
}
.gt-form .gt-form-radio, .gt-form .gt-form-checkbox {
	margin-right: 3px;
}
.gt-form .gt-submit-btn {
	margin: 0 10px 0 0;
	float: left;
	display: inline;
}
.gt-form .gt-cancel {
	line-height: 31px;
}
/* @end */

/* @group Links - link visited hover active */
a:link, a:visited {
	color: #4890d8;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
/* @end */

/* @group Misc */
.clear {
	clear: both;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */