/*-------------------------------------------------------
* Filename: styles.css
* Author: system32
* Description: Handles the site layout.
   -----------------------------------------------------*/
   
/*------------------------------------------------------
  				Global Reset
  ------------------------------------------------------*/	
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 100%; 
	font-family: inherit;  
}   

body{  
font:normal 12px/18px Arial, Tahoma, Helvetica, sans-serif;
color:#484848; 
background:#f7f7f6;
}

* html {
	margin:0;padding:0;
}

/*------------------------------------------------------
  				Logo 
  ------------------------------------------------------*/	
.top_bg{
height:89px;
background:url(../images/top_bg.gif) top right repeat-x;
}
 
 .logo
 {
position:absolute;
top:20px;
 }
 
 small
 {
 font:normal 11px Tahoma, Arial, Helvetica, sans-serif
 }
 
/*------------------------------------------------------
  				SubPage Header
  ------------------------------------------------------*/	
	 .subpageheader{
	 background: url(../images/SubHeaderbg.png) top left no-repeat;
	 height:150px;
	 }
	 .subpageheader h1{
	 font:normal 30px Arial, "Trebuchet MS", Helvetica, sans-serif;
	 padding:40px 0 0 0 ; 
	 color:#FFFFFF;
 	 }
	 
	 .subpageheader p
	 {
	 font:normal 16px Arial, "Trebuchet MS", Helvetica, sans-serif;
	 color:#FFFFFF;
	 }
	 
	 .centertext
{
text-align:center;
}
/*------------------------------------------------------
  				Main Header
  ------------------------------------------------------*/	 
	 .mainheader {
	 background:url(../images/MainHeader_2.png) top left no-repeat;
	 height:367px;

	 color:#FFFFFF;
	 }
	 .mainheader h1{
	 font:normal 5em/60px Impact, Helvetica, sans-serif;
	 color:#fff;
	 text-align:right;
	 text-transform:uppercase;padding-top:40px;
	 }
	.mainheader h1 span
	{
	 color:#0b0e16;
	 }
	.mainheader p{
 font:normal 14px Arial, "Times New Roman", Times, serif;
	color:#FFFFFF;
}	 

/*------------------------------------------------------
  				Homepage Slider 
  ------------------------------------------------------*/	
.featured	{
	background:url(../images/slidesrbg.png) no-repeat;
	height:204px;
	 padding-top:40px;
}

.stepcarousel{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 406px; /*Width of Carousel Viewer itself*/
height: 210px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px 0px 0px 0px; /*margin around each panel*/
width: 406px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}


/*------------------------------------------------------
		Homepage Featured Products in Content
  ------------------------------------------------------*/		 

.servicebox
{
width:100%;
overflow:auto;
height:100%;
margin-bottom:10px;
}

.rightpara2
{
margin-left:200px;
font:normal 11px "lucida Sans", Helvetica, sans-serif;
padding:0 0 0 20px;
}

/*------------------------------------------------------
  				Img Borders
  ------------------------------------------------------*/		 
.preview .borderimg, .blogbox .borderimg
 {
 border:1px solid #d8d8d8;
 background:#fff;
 padding:3px;
 }

.borderimg
 {
 border:1px solid #d8d8d8;
 background:#fff;
 padding:3px;
 }

/*------------------------------------------------------
  				Default Links
  ------------------------------------------------------*/	
	 a{
color:#197bc4;
text-decoration:none;
}
a:hover {
color:#197bc4;
text-decoration:underline;
}
	
	  h6{
font-weight:bold;
	 color:#484848;
	 }
	 p{
	 font:normal 12px/20px Arial, Helvetica, sans-serif;
	 color:#484848;
	 font-size:inherit;
	 margin:0;
	 }

	 h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
	 {
	 vertical-align:middle;
	 }
/*------------------------------------------------------
  				Homepage 4 Boxes Below header
  ------------------------------------------------------*/		 
.fbox
{
background:url(../images/boxbg.gif) no-repeat;
padding-top:10px;
height:79px;
width:auto;
}

.fbox p, .fbox h6
{
margin-left:60px;
padding:1px 10px 3px 0;
}
 .fbox img
	 {
	 float:left;
	 margin:5px 10px;
	 }
	 

/*------------------------------------------------------
  				Content Reset
  ------------------------------------------------------*/	
	
.content
{
padding-bottom:30px;
overflow:auto;
height:100%;
}
.cbg
{
background:#f7f7f6;
}
	
.para *
{
padding:0px 0 10px 0;
}

	
.graybox
{
background:#f1f5f8;
border:1px solid #d5dce5;
margin-top:10px;
margin-bottom:20px;
}
.graybox *
{
padding:20px;
}


.text
{
padding-top:20px;
padding-bottom:10px;
background:url(../images/bgbsox.gif) top left repeat-x;
border:0px solid #d6d2da;
overflow:auto;
height:100%;
padding-right:20px;
}


div.text
{
}

/*------------------------------------------------------
  				Headings
  ------------------------------------------------------*/	
h1{
font: normal 30px/32px Arial, Helvetica, sans-serif;
padding:0;
margin:0px 0 5px 0;
color:#003c6e;
}
h2{
font: normal 24px/26px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding:0;
letter-spacing:-1px;
margin:0 0 5px 0;
color:#003c6e;
}
h2 spans
{
color:#b2b2b2;
}
h3{
font: italic normal 26px/35px "Book antiqua",Georgia, Helvetica, sans-serif;
padding:0;
letter-spacing:-1px;
margin:0 0 5px 0;
color:#48494a;
}
h4{
font: normal bold 20px/35px "Lucida Sans", Arial, Helvetica, sans-serif;
padding:0;
letter-spacing:-2px;
margin:0 0 5px 0;
color:#48494a;
}
h5 {
font: normal bold 14px/18px Arial, Helvetica, sans-serif;
padding:0;
margin:0 0 5px 0;
color:#197bc4;
}
h5 {
font: normal bold 12px/16px Arial, Helvetica, sans-serif;
padding:0;
margin:0 0 5px 0;
color:#197bc4;
}
/*------------------------------------------------------
  				Button /  Readmore
  ------------------------------------------------------*/	
.button {
font:normal 10px Arial, Helvetica, sans-serif;
padding:6px 15px;
text-transform:uppercase;
color:#a4a4a4;
} 
a.button  {
text-decoration:none;
background:url(../images/readmorebg.gif) bottom left repeat-x;
border:1px solid #bdd2dc;
color:#484848;
}  
a.button:hover{ 
border:1px solid #bdd2dc;
background:url(../images/buttonbg.gif) bottom left repeat-x;
color:#909090;
}

/*------------------------------------------------------
  				Floats & Alignments
  ------------------------------------------------------*/	
.rightalign
{
float:right;
}

.leftalign
{
float:left;
}
 
.textleft{
text-align:left;
}
.textright{
text-align:right;
}

.textcenter{
text-align:center;
}

/*------------------------------------------------------
  				Readmore Block
  ------------------------------------------------------*/	
.readmoreblock {
font:normal bold 11px Arial, Helvetica, sans-serif;
padding:3px 10px;
text-transform:uppercase;
color:#ccc;
display:block;
margin-top:5px;
letter-spacing:0px;	
border-radius:3px;
-moz-border-radius:3px;
} 
a.readmoreblock  {
text-decoration:none;
background:#d8d8d8;
background:url(../images/buttonbg.gif) bottom left repeat-x;
border:1px solid #dedede;
color:#b5b5b5;
}  
a.readmoreblock:hover{ 
background:#197bc4;
border:1px solid #666;
color:#fff;
}

/*------------------------------------------------------
  				Footer
 -----------------------------------------------------*/	

.footer
{
padding:30px 0;
overflow:auto;
height:100%;
background:#FFF url(../images/footer.gif) top left repeat-x;
}



/*------------------------------------------------------
  				Seperators
  ------------------------------------------------------*/	
  
.linebg	{
margin-top:10px;
margin-bottom:10px;
clear:both;
border-top:1px solid #d8d8d8;
}

.sepline	{
background:url(../images/sep.gif) top right repeat-y; /* Siderbar Seperator */
}


/*------------------------------------------------------
  				Portfolio Boxes
  ------------------------------------------------------*/	


.portfolioitem .details
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
float:right;
width:320px;
}
.portfolioitem .preview
{
display:block;
width:240px;
text-align:center;
}
.portfolioitem h3
{
color:#484848;
font:normal 20px/22px Arial, Helvetica, sans-serif;
}

.portfolioitem 
{
padding:20px;
overflow:auto;
height:100%;
margin:10px 0;
}
.portfolioitem .corner {
	position:absolute;
	top:-2px;
	left:-2px;
	width:85px;
	height:85px;
}

/*------------------------------------------------------
  				Border Block Horizontal Bar
  ------------------------------------------------------*/	
  
.bordersub
{
border:1px solid #d5dce5;
background:#FFFFFF;
}

hr.hrbar
{
clear:both;
border:none;
width:100%;
border-bottom:1px solid #d8d8d8;
}

/*------------------------------------------------------
  				Testimonial Block
  ------------------------------------------------------*/	
  
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
blockquote {
margin: 15px 0px 15px 5px;
padding-right: 5px;
background: url(../images/quoteclose.gif) no-repeat bottom right;
}
blockquote p {
font-size:11px;
background: url(../images/quoteopen.gif) no-repeat top left;
padding-left: 30px;
font-weight:normal;
font-style:italic;

}
.testimonial
{
overflow:hidden;
height:100%;
padding-bottom:20px;
}

/*------------------------------------------------------
  				Unordered Lists
  ------------------------------------------------------*/	
  
ul.listitems
{
margin:0;
padding:0;
}
ul.listitems li
{
font:normal 12px Arial, Helvetica, sans-serif;
voice-family:inherit;
margin:0;
height:18px;
background:url(../images/circle.gif) 0% 50% no-repeat;
text-decoration:none;
padding:3px 10px 3px 20px;
}

/*------------------------------------------------------
  				Search Box
  ------------------------------------------------------*/	
div.topheadline fieldset {
	width: 190px;
	float:right;
	display: block;
	position:relative; top:50px; 
	}

div.topheadline form label {
display: block; 
background: url(../images/searchbar.png) no-repeat; 
width: 184px; 
height: 29px; 
}
div.topheadline fieldset legend{
display:none;
}
div.topheadline form label input {
background: none; 
border: none;
outline: none; 
width: 170px; 
margin-top: 5px; 
padding-left:10px;
color:#484848;
}
.buttonhide {display: none;}

/*------------------------------------------------------
  				News Unordered Lists
  ------------------------------------------------------*/	
ul.newslist
{
margin:20px 0;
padding:0;;
}

ul.newslist li
{
margin-bottom:3px;
border-bottom:1px solid #d8d8d8;
font:normal 11px/12px Arial, Helvetica, sans-serif;
padding:3px 0px;
padding-bottom:10px;
margin-bottom:15px;
color:#666666;
}
ul.newslist li a:link, ul.newslist li a:visited, ul.newslist li a:active
{
padding:3px 0px;color:#484848;
text-decoration:none;
}

ul.newslist li a:hover
{
color:#0c63a9;
padding:3px 0px;
text-decoration:none;
}


span.date
{
display:block;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
-khtml-border-radius:2px;
width:70px;
text-align:center;
margin:0 0 5px 0;
background:#0c63a9;
padding:2px 5px;
color:#fff; font:normal 10px/12px Tahoma, Arial, Helvetica, sans-serif;
letter-spacing:normal !important;
}

/*------------------------------------------------------
  		Recent Blog Entries Unordered Lists
  ------------------------------------------------------*/	
ul.commonlist
{
margin-top:20px;
margin-bottom:20px;
padding:0;;
}

ul.commonlist li
{
margin-bottom:3px;
font:normal 11px/18px Arial, Helvetica, sans-serif;
padding:3px 0px;border-bottom:1px solid #b8b8b8;
color:#666666;
margin-bottom:20px;
}
ul.commonlist li a:link, ul.commonlist li a:visited, ul.commonlist li a:active
{
padding:3px 0px;
color:#197bc4;
text-decoration:none;
}

ul.commonlist li a:hover
{
color:#484848;
padding:3px 0px;
text-decoration:none;
}

ul.commonlist li img
{
vertical-align:middle;
margin-right:5px;
}

.tb10
{
margin:10px 0;
}
.tb20
{
margin:20px 0;
}
