<% @page_title = "Users" %>
					
<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>Users</h2>
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
	<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
						<div class="sct_right">
							
							<form action="#">
							<fieldset>
							<!--[if !IE]>start table_wrapper<![endif]-->
							<div class="table_wrapper">
								<div class="table_wrapper_inner">
								<table cellpadding="0" cellspacing="0" width="100%">
									<tbody><tr>
										<th>Name</th>
										<th><a href="#">Email</a></th>
										<th><a href="#" class="asc">Status</a></th>
										<th><a href="#" class="desc">Admin?</a></th>
										<th style="width: 48px;">Actions</th>
									</tr>
									<%= render :partial => 'user_row', :collection => current_account.users %>
								</tbody></table>
								</div>
							</div>
							<!--[if !IE]>end table_wrapper<![endif]-->
							
							<!--[if !IE]>start table menu<![endif]-->
							<div class="table_menu">
								<ul class="left">
									<li><%= link_to "<span><span>ADD NEW</span></span>", new_user_path, :class => "button add_new" %></li>
								</ul>
							</div>
							<!--[if !IE]>end table menu<![endif]-->
							
							
							</fieldset>
							</form>
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--[if !IE]>end section content top<![endif]-->
		<!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->
					




<% content_for :sidebar do %>
	<!--[if !IE]>start quick info<![endif]-->
	<div class="quick_info">
		<div class="quick_info_top">
			<h2>Quick users info</h2>
		</div>
		<div class="quick_info_content">
			<dl>
				<dt>12 products</dt>
				<dd>avaiting approval</dd>
			</dl>
			<dl>
				<dt>228 sales</dt>
				<dd>in the last 24 hours</dd>
			</dl>
			<dl>
				<dt>18 users</dt>
				<dd>currently online</dd>
			</dl>
			<dl>
				<dt>15.2%</dt>
				<dd>increase in traffic this month</dd>
			</dl>
		</div>
		<span class="quick_info_bottom"></span>
	</div>
	<!--[if !IE]>end quick info<![endif]-->
<% end -%>