<h1><%= @page_title = 'Create User' %></h1>

<% if current_account.reached_user_limit? %>

  <p>
    You have reached the maximum number of users you can have with your account level.  You can either delete some of your users or <a href="/account/plan">upgrade your account</a> to be able to create a new user.
  </p>

<% else %>

  <% form_for @user do |f| -%>
    <%= render :partial => "form", :locals => { :f => f } %>
  <% end -%>

<% end %>