Someone (presumably you) has requested your password to be reset
for your <%= AppConfig['app_name'] %> account at http://<%= @reset.user.account.full_domain %>.

Please use the following link to reset your password.  

http://<%= @reset.user.account.full_domain %>/account/reset/<%= @reset.token %>

If you didn't request your password to be reset, please ignore this email,
and no change will be made.

