<tr class="<%= cycle("first", "second") -%>">
	<td style="width: 200px;"><a href="#" class="product_name"><%= link_to company.name, company_path(company) %></a></td>
	<td style="width: 150px;"><%= company -%></td>
	<td style="width: 150px;">vijay@ascentinc.net</td>
	<td><%= company.description -%></td>
	<td style="width: 150px;">Client</td>
	<td style="width: 120px;">
		<div class="actions">
			<ul>
				<li><a class="action1" href="#">1</a></li>
				<li><a class="action2" href="#">2</a></li>
				<li><a class="action3" href="#">3</a></li>
				<li><a class="action4" href="#">4</a></li>
				<li><input class="radio" name="" type="checkbox" value="" /></li>
			</ul>
		</div>
	</td>
</tr>