<% content_for :head do %>
	<%= stylesheet_link_tag 'blogcss' %>
<% end %>
<div class="content cbg">
      <div class="container_16 linebg">
            <!--left part of text follows here-->
            <div class="grid_11 para sepline">
                  <div class="text">
                        <div class="blogbox bordersub"> <img src="images/blogimg.jpg" alt="" class="borderimg leftalign" />
                              <h2>Lorem IpsumCras dictumlacinia </h2>
                              <span class="postinfo">On 10-05-2009 - in <a href="#">tutorials</a> by <a href="#">author</a></span><br />
                              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis condimentum condimentum justo. Proin non libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce nec diam non turpis laoreet fringilla. Nulla dapibus, neque vel sollicitudin lacinia.</p>
                        </div>
                        <div class="bottomblog"><a href="blog_details.html" class="button rightalign">continue reading</a><a href="#" class="button leftalign">comments ( 25 )</a></div>
                        <br />
                        <div class="blogbox bordersub"> <img src="images/web2.gif" alt="" class="borderimg leftalign" />
                              <h2>Lorem IpsumCras dictumlacinia </h2>
                              <span class="postinfo">On 10-05-2009 - in <a href="#">tutorials</a> by <a href="#">author</a></span><br />
                              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis condimentum condimentum justo. Proin non libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce nec diam non turpis laoreet fringilla. Nulla dapibus, neque vel sollicitudin lacinia.</p>
                        </div>
                        <div class="bottomblog"><a href="blog_details.html" class="button rightalign">continue reading</a><a href="#" class="button leftalign">comments ( 25 )</a></div>
                        <br />
                        <div class="blogbox bordersub"> <img src="images/web4.gif" alt="" class="borderimg leftalign" />
                              <h2>Lorem IpsumCras dictumlacinia </h2>
                              <span class="postinfo">On 10-05-2009 - in <a href="#">tutorials</a> by <a href="#">author</a></span><br />
                              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis condimentum condimentum justo. Proin non libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce nec diam non turpis laoreet fringilla. Nulla dapibus, neque vel sollicitudin lacinia.</p>
                        </div>
                        <div class="bottomblog"><a href="blog_details.html" class="button rightalign">continue reading</a><a href="#" class="button leftalign">comments ( 25 )</a></div>
                  </div>
            </div>
            <!--End of the Left part text  -->
            <!--Right part of text follows here-->
            <div class="grid_5">
                  <div class="text">
                        <h2>Categories</h2>
                        <ul class="submenu">
                              <li><a href="#">Category 1</a> </li>
                              <li><a href="#">Category 2</a> </li>
                              <li><a href="#">Category 3</a> 
                              <ul>
                                    <li><a href="#"> + Child Category 1</a> </li>
                                    <li><a href="#"> + Child Category 2</a> </li>
                              </ul>
					</li>
                              <li><a href="#">Category 4</a> </li>
                              <li><a href="#">Category 5</a> </li>
                        </ul>
                  </div>
                  <div class="text">
                        <h2>Featured Work!</h2>
                        <img src="images/web1.gif" alt="" class="borderimg" /> </div>
            </div>
            <!--End of the Right part text  -->
      </div>
</div>
