<% @page_title = "Contact Us" -%>
<% @page_description = "Do you have a #{AppConfig['app_name']}-related question? Do you want to know if #{AppConfig['app_name']} is right for your business? Don't hesitate to say hello." -%>

<div class="content cbg">
      <div class="container_16 linebg">
            <!--left part of text follows here-->
            <div class="grid_11 para sepline">
                  <div class="text">
                        <h2>Reach us rightnow!</h2>
                        <p> <strong>If you’re a user and you need technical support, email us at <%= mail_to AppConfig['from_email'], AppConfig['from_email'], :encode => "hex" -%>. </strong> </p>
                        <br />
                        <!-- Contact Form Start -->
                        <form action="contactsent.php" method="post" name="form1" id="form1" style="margin:0px; font:Normal 12px Arial,Tahoma, Verdana, Helvetica, sans-serif;width:200px; color:#000;">
                              <p>First Name *
                                    <input type='text' value='' size='50' maxlength='50' name='name' class='txtarea required'/>
                              </p>
                              <p>Your e-mail *
                                    <input name="email" type="text" size='50'  id="from" value="" class="required" />
                              </p>
                              <p>Company Name
                                    <input type='text' value='' size='50' maxlength='50' name='company'/>
                              </p>
                              <p>Subject:
                                    <input name="subject" type="text" id="subject" size='50'  value=""/>
                              </p>
                              <p>Message *
                                    <textarea name="message" cols="38" rows="5" id="message"></textarea>
                              </p>
                              <p>
                                    <input name="Submit" class="" type="image" src="images/submit.gif" value="Send Message"/>
                              </p>
                        </form>
                        <!-- Contact Form end -->
                  </div>
            </div>
            <!--End of the Left part text  -->
            <!--Right part of text follows here-->
            <div class="grid_5">
                  <div class="text">
                        <h2>Location</h2>
                        <p>OFFICE : 10833, Folsom Blvd<br/>
                              Rancho Cordova <br/>
                              CA 95670</p>
                  </div>
                  <div class="text">
                        <h2>Instant Messangers </h2>
                        <p>Gmail : RecruitApp@gmail.com <br/>
                              Yahoo : RecruitApp@yahoo.com <br/>
                              MSN : RecruitApp@msn.com</p>
                  </div>
                  <div class="text">
                        <h2>Phone</h2>
                        <p>OFFICE : 302 250 4624 <br/>
                           Skype: RecruitApp</p>
                  </div>
            </div>
            <!--End of the Right part text  -->
      </div>
</div>