<% content_for :head do %>
	<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="js/unitpngfix.js"></script>
		<![endif]-->
	<%= javascript_include_tag 'jquery-1.2.6.pack.js', 'stepcarousel.js' %>
<% end %>
<div class="content cbg">
      <div class="container_16 linebg">
            <!--Left part of text follows here-->
            <div class="grid_11 para sepline">
                  <div class="text">
                        <h2>Welcome to <span>memex!</span></h2>
                        <p>The font i have used in this website is an Arial system default font with letter-spacing -1px. In vel orci. Praesent sit amet diam sed orci volutpat facilisis. Aenean varius, ligula a blandit ornare, nulla elit porttitor tellus, quis bibendum elit ante nec metus. Donec metus lacus, porta id, auctor sit amet, aliquam eu, lacus. Quisque sagittis vulputate orci. </p>
                        <p>In vel orci. Praesent sit amet diam sed orci volutpat facilisis. Aenean varius, ligula a blandit ornare, nulla elit porttitor tellus, quis bibendum elit ante nec metus. Donec metus lacus, porta id, auctor sit amet, aliquam eu, lacus. Quisque sagittis vulputate orci.In vel orci. Praesent sit amet diam sed orci volutpat facilisis. Aenean varius, ligula a blandit ornare, nulla elit porttitor tellus, quis bibendum elit ante nec metus. Donec metus lacus, porta id, auctor sit amet, aliquam eu, lacus. Quisque sagittis vulputate orci.</p>
                        <br />
                        <h2>Featured Products</h2>
                        <div class="servicebox"> <img src="images/pro2_15.jpg" alt="Service Name" class="leftalign" />
                              <div class="rightpara2">
                                    <p>This is the placeholder for your services details list and you can place some of the content related to your services and have some list items placed in it in the unordered list style of some ordered list style and you can <a href="#">describe</a> the long text here by adding more images in it and have some extra stuff.</p>
                              </div>
                        </div>
                        <div class="servicebox"> <img src="images/bplanet_15.jpg" alt="Service Name" class="leftalign" />
                              <div class="rightpara2">
                                    <p>This is the <a href="#">placeholder</a> for your services details list and you can place some of the content related to your services and have some list items placed in it in the unordered list style of some ordered list style and you can describe the long text here by adding more images in it and have some extra stuff.</p>
                              </div>
                        </div>
                        <div class="servicebox"> <img src="images/futuron_15.jpg" alt="Service Name" class="leftalign" />
                              <div class="rightpara2">
                                    <p>This is the <a href="#">placeholder</a> for your services details list and you can place some of the content related to your services and have some list items placed in it in the unordered list style of some ordered list style and you can describe the long text here by adding more images in it and have some extra stuff.</p>
                              </div>
                        </div>
                  </div>
            </div>
            <!--End of the Left part text  -->
            <!--Right part of text follows here-->
            <div class="grid_5">
                  <div class="text">
                        <h2><img src="images/blog.gif" alt="" /> Recent Blog item</h2>
                        <ul class="commonlist">
                              <li>
                                    <h5><a href="#">Loremipsum dolor sitamet</a></h5>
                                    <p>Listuem Names ligula a blandit ornare, ligula a quis bibendum elit antenecmetus blandit</p>
                                    <div class="date"><a href="#"><img src="images/comments.png" alt="" /> (2) comments</a> | <a href="#">readmore</a></div>
                              </li>
                              <li>
                                    <h5><a href="#">Mauris luctusmassa inipsum</a></h5>
                                    <p>Listuem Names ligula a blandit ornare, ligula a quis bibendum elit antenecmetus blandit</p>
                                    <div class="date"><a href="#"><img src="images/comments.png" alt="" /> (2) comments</a> | <a href="#">readmore</a></div>
                              </li>
                        </ul>
                  </div>
                  <h2><img src="images/testimonial.gif" alt="" /> Testimonials</h2>
                  <div class="testimonial">
                        <blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lectus eros, aliquam vel, adipiscing ut, adipiscing eu, purus. Mauris luctus massa in ipsum. Duis vestibulum. Cras ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque placerat pretium turpis. Quisque pharetra.</p>
                              <cite class="rightalign">John Doe<br />
                              <a href="#">companyname</a> </cite> </blockquote>
                  </div>
                  <!--End of the Right part text  -->
            </div>
      </div>
</div>
