<% content_for :head do %>
	<%= stylesheet_link_tag 'blogcss' %>
	<style type="text/css">
	#mygallery{overflow: hidden;}	
	</style>
<% end %>

<% @page_title = "#{AppConfig['app_name']} Tour" %>
<% @page_description = "Pictures are worth a thousand words, so we've put together this tour to help paint a picture of how #{AppConfig['app_name']} works. Of course, nothing beats creating a #{link_to '<span class=white>free trial</span>', plans_url} account and checking it out for yourself." -%>

<div class="content cbg">
      <div class="container_16 linebg">
            <!--left part of text follows here-->
            <div class="grid_11 para sepline">
                  <div class="text">
                        <!-- Portfolio Block Start -->
                        <div class="portfolioitem bordersub">
                              <div class="details ">
                                    <div class="corner logocorner"></div>
                                    <h3><a href="#">Feature 1</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac mauris vitae erat gravida posuere. Ut a purus. Sed porta tincidunt felis. Aenean magna. 
                                          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis condimentum condimentum justo. Proin non libero. </p>
                              </div>
                              <div class="preview "> <img src="images/web1.gif"  class="borderimg" alt="Screenshot Name" /> <br />
                                    <br />
                                    <a href="#" class="button">view details</a> <a href="#" class="button">live preview</a> </div>
                        </div>
                        <!-- Portfolio Block End -->
                        <div class="portfolioitem bordersub">
                              <div class="details">
                                    <div class="corner websitecorner"></div>
                                    <h3><a href="#">Feature 2</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac mauris vitae erat gravida posuere. Ut a purus. Sed porta tincidunt felis. Aenean magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                              </div>
                              <div class="preview "> <img src="images/web2.gif"  class="borderimg" alt="Screenshot Name" /> <br />
                                    <br />
                                    <a href="#" class="button">view details</a> <a href="#" class="button">live preview</a> </div>
                        </div>
                        <div class="portfolioitem bordersub">
                              <div class="details">
                                    <div class="corner websitecorner"></div>
                                    <h3><a href="#">Feature 3</a></h3>
                                    <p>This theme is a fixed layout with two columns. This site is best suitable for a business, company, Blog, portfolio, or freelancer portfolio website as well. nascetur ridiculus mus. </p>
                              </div>
                              <div class="preview "> <img src="images/web3.gif"  class="borderimg" alt="Screenshot Name" /> <br />
                                    <br />
                                    <a href="#" class="button">view details</a> <a href="#" class="button">live preview</a> </div>
                        </div>
                        <div class="portfolioitem bordersub">
                              <div class="details">
                                    <div class="corner featuredcorner"></div>
                                    <h3><a href="#">Feature 4</a></h3>
                                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis condimentum condimentum justo. Proin non libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                              </div>
                              <div class="preview "> <img src="images/web4.gif"  class="borderimg" alt="Screenshot Name" /> <br />
                                    <br />
                                    <a href="#" class="button">view details</a> <a href="#" class="button">live preview</a> </div>
                        </div>
                  </div>
                  <!--ends content-->
            </div>
            <!--End of the Left part text  -->
            <!--Right part of text follows here-->
            <div class="grid_5">
                  <div class="text">
                        <h2>Sub Navigation</h2>
                        <ul class="submenu">
                              <li><a href="#">Feature 1</a> </li>
                              <li><a href="#">Feature 2</a> </li>
                              <li><a href="#">Feature 3</a> </li>
                              <li><a href="#">Feature 4</a> </li>
                        </ul>
                  </div>
                  <div class="text">
                        <h2>Latest Feature!</h2>
                        <img src="images/web1.gif" alt="" class="borderimg" /> </div>
            </div>
            <!--End of the Right part text  -->
      </div>
</div>
