<div class="container_16">
      <!-- 4 Blocks -->
      <div class="grid_4 fbox"> <img src="images/new_icon.png" alt="" class="leftalign" />
            <h6><a href="#">Sondimentum.</a></h6>
            <p><small>Vestibulum blandit Sedeuism od enimeleifend inter.</small></p>
      </div>
      <div class="grid_4 fbox"> <img src="images/menu_icon.png" alt="" class="leftalign" />
            <h6><a href="#">dictumeu Maurismssa</a></h6>
            <p><small>aoreetet congueeu osuere sit ametelit Sondimentum.</small></p>
      </div>
      <div class="grid_4 fbox"> <img src="images/download_icon.png" alt="" class="leftalign" />
            <h6><a href="#">Mauri smssa</a></h6>
            <p><small>Loremipsum dolor sit amet, consectetur adipiscing elit.</small></p>
      </div>
      <div class="grid_4 fbox"> <img src="images/copy_icon.png" alt="" class="leftalign" />
            <h6><a href="#">Duis rhoncus.</a></h6>
            <p><small>Nulla Fusce etlibero. Mauri smattis Duis vulpu acilisi cods.</small></p>
      </div>
      <!-- 4 Blocks -->
</div>
<div class="clear">&nbsp;</div>
