<div class="container_16">
      <!-- 4 Blocks -->
      <div class="grid_4 fbox"> <img src="images/new_icon.png" alt="" class="leftalign" />
            <h6><a href="#">Feature 1</a></h6>
            <p><small>Small description of the feature goes here</small></p>
      </div>
      <div class="grid_4 fbox"> <img src="images/menu_icon.png" alt="" class="leftalign" />
            <h6><a href="#">Feature 2</a></h6>
            <p><small>Small description of the feature goes here</small></p>
      </div>
      <div class="grid_4 fbox"> <img src="images/download_icon.png" alt="" class="leftalign" />
            <h6><a href="#">Feature 3</a></h6>
            <p><small>Small description of the feature goes here</small></p>
      </div>
      <div class="grid_4 fbox"> <img src="images/copy_icon.png" alt="" class="leftalign" />
            <h6><a href="#">Feature 4</a></h6>
            <p><small>Small description of the feature goes here</small></p>
      </div>
      <!-- 4 Blocks -->
</div>
<div class="clear">&nbsp;</div>
