<div class="clear"> &nbsp; </div>
<!-- Footer Block Start -->
<div class="footer">
      <div class="container_16">
            <div class="grid_16">
                  <p class="leftalign"> &copy; 2009 Copyright : All Rights Reserved by <%= AppConfig['company_name'] %>.</p>
                  <p class="textright"> Designed and Developed by <%= link_to AppConfig['company_name'], AppConfig['company_url'] %> </p>
            </div>
      </div>
</div>
<!-- Footer Block End -->
