<div class="clear"> &nbsp; </div>
<!-- Footer Block Start -->
<div class="footer">
      <div class="container_16">
            <div class="grid_16">
                  <p class="leftalign"> &copy; 2009 Copyright : All Rights Reserved by MEMEX - 2009.</p>
                  <p class="textright"> Designed and Developed by system32 | companyName </p>
            </div>
      </div>
</div>
<!-- Footer Block End -->
