<!--[if !IE]>start footer<![endif]-->
<div id="footer">
	<div id="footer_inner">
	
	<dl class="copy">
		<dt><strong><%= AppConfig['app_name'] %></strong> <em>build 26122008</em></dt>
		<dd>&copy; 2009 Copyright : All Rights Reserved by <%= link_to AppConfig['company_name'], AppConfig['company_url'] %>.</dd>
	</dl>
	
	<dl class="quick_links">
		<dt><strong>Quick Links :</strong></dt>
		<dd>
			<ul>
				<li><%= link_to "Dashboard", root_path %></li>
				<li><a href="#">My Account</a></li>
				<li><a href="#">General Settings</a></li>
				<li><a href="#">Static Pages</a></li>
				<li><a href="#">Users</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Marketing</a></li>
				<li class="last"><%= link_to "Log out", logout_path %></li>
			</ul>
		</dd>
	</dl>
	
	
	<dl class="help_links">
		<dt><strong>Need Help ?</strong></dt>
		<dd>
			<ul>
				<li><a href="#">Live Help</a></li>
				<li><a href="#">FAQ</a></li>
				<li class="last"><a href="#">Knowledgebase</a></li>
			</ul>
		</dd>
	</dl>

	</div>
</div>
<!--[if !IE]>end footer<![endif]-->