<!--[if !IE]>start head<![endif]-->
<div id="head">

	<!--[if !IE]>start logo and user details<![endif]-->
	<div id="logo_user_details">
		<h1 id="logo"><a href="#">websitename Administration Panel</a></h1>
		<!--[if !IE]>start user details<![endif]-->
		<div id="user_details">
			<ul id="user_details_menu">
				<li>Welcome <strong><%= current_user.login -%></strong></li>
				<li>
					<ul id="user_access">
						<li class="first"><a href="#">My account</a></li>
						<li class="last"><%= link_to "Log out", logout_path %></li>
					</ul>
				</li>
				<li><a class="new_messages" href="#">4 new messages</a></li>
			</ul>
			<div id="server_details">
				<dl>
					<dt>Server time :</dt>
					<dd>6:45 AM</dd>
				</dl>
				<dl>
					<dt>Last login ip :</dt>
					<dd>192.168.0.15</dd>
				</dl>
			</div>
			<!--[if !IE]>start search<![endif]-->
			<div id="search_wrapper">
				<form action="#">
					<fieldset>
						<label>
							<input class="text" name="" type="text" />
						</label>
						<span class="go"><input name="" type="submit" /></span>
					</fieldset>
				</form>
				<ul id="search_wrapper_menu">
					<li class="first"><a href="#">Advanced Search</a></li>
					<li class="last"><a href="#">Admin Map</a></li>
				</ul>
			</div>
		<!--[if !IE]>end search<![endif]-->
		</div>				
		<!--[if !IE]>end user details<![endif]-->
	</div>			
	<!--[if !IE]>end logo end user details<![endif]-->
	
	<!--[if !IE]>start menus_wrapper<![endif]-->
	<div id="menus_wrapper">
		
		<div id="main_menu">
			<ul>	
				<% controller.menu_navigation.each do |menu| -%>
				<li><%= header_menu menu -%></li>
				<% end -%>
			</ul>
		</div>
		
		<div id="sec_menu">
			<ul>
				<% controller.menu_navigation.each do |menu| -%>
					<% if menu.active(controller) -%>
						<% menu.children.each do |child| -%>
						<li><%= link_to child.title, child.path, :class => child.html_class %></li>
						<% end -%>
					<% end -%>
				<% end -%>								
			</ul>
		</div>
	</div>
	<!--[if !IE]>end menus_wrapper<![endif]-->
</div>
<!--[if !IE]>end head<![endif]-->