<div class="mainheader">
      <div class="container_16">
            <!-- Slider Start-->
            <div class="grid_8 featured">
                  <div id="mygallery" class="stepcarousel">
                        <div class="belt">
                              <div class="panel"> <a href="#"><img src="images/img1.jpg" alt="" class="borderimg" /></a> </div>
                              <div class="panel"> <a href="#"><img src="images/img2.jpg" alt="" class="borderimg" /></a> </div>
                              <div class="panel"> <a href="#"><img src="images/img3.jpg" alt="" class="borderimg" /></a> </div>
                              <div class="panel"> <a href="#"><img src="images/img4.jpg" alt="" class="borderimg" /></a> </div>
                        </div>
                  </div>
                  <!-- Slider End -->
                  <p class="textleft"> <b>What are special offers?</b><br />
                        In non libero eu leo consectetur aliquam.Nulla Fusce etlibero. Maurismattis. Duis vulpu acilisi cods. </p>
            </div>
            <div class="grid_8 homeinfo">
                  <h1>We build <span>creative</span> Web Designs!</h1>
                  <p class="textright">Sed sollicitudin suscipit purus. In non libero eu leo consectetur aliquam.Nulla Fusce etlibero. Maurismattis. Duis vulpu acilisi cods. </p>
                  <a href="#"><img src="images/tour.gif" class="tb10 rightalign" alt="tour" /></a> </div>
      </div>
</div>
<div class="clear">&nbsp;</div>