<div class="mainheader">
      <div class="container_16">
            <!-- Slider Start-->
            <div class="grid_8 featured">
                  <div id="mygallery" class="stepcarousel">
                        <div class="belt">
                              <div class="panel"> <a href="#"><img src="images/img1.jpg" alt="" class="borderimg" /></a> </div>
                              <div class="panel"> <a href="#"><img src="images/img2.jpg" alt="" class="borderimg" /></a> </div>
                              <div class="panel"> <a href="#"><img src="images/img3.jpg" alt="" class="borderimg" /></a> </div>
                              <div class="panel"> <a href="#"><img src="images/img4.jpg" alt="" class="borderimg" /></a> </div>
                        </div>
                  </div>
                  <!-- Slider End -->
                  <p class="textleft"> <b>What are special offers?</b><br />
                        Explain the special features of this application for better understanding. Can span multiple lines. 2 lines looks better </p>
            </div>
            <div class="grid_8 homeinfo">
                  <h1>We Make <span>recruitment</span> Fun!</h1>
                  <p class="textright">Small description of how recruitment in RecruitApp gors here explaning the features. </p>
                  <a href="/tour"><img src="images/tour.gif" class="tb10 rightalign" alt="tour" /></a> </div>
      </div>
</div>
<div class="clear">&nbsp;</div>