<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<title>Administration Panel</title>
<link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/admin.css"  />
<!--[if lte IE 6]><link media="screen" rel="stylesheet" type="text/css" href="css/admin-ie.css" /><![endif]-->

<!-- <script type="text/javascript" src="js/behaviour.js"></script> -->
<%= javascript_include_tag :all, :cache => true %>
</head>

<body>
	<!--[if !IE]>start wrapper<![endif]-->
	<div id="wrapper">
		<!--[if !IE]>start head<![endif]-->
		<div id="head">
			
			<!--[if !IE]>start logo and user details<![endif]-->
			<div id="logo_user_details">
				<h1 id="logo"><a href="#">websitename Administration Panel</a></h1>
				<!--[if !IE]>start user details<![endif]-->
				<div id="user_details">
					<ul id="user_details_menu">
						<li>Welcome <strong>Administrator</strong></li>
						<li>
							<ul id="user_access">
								<li class="first"><a href="#">My account</a></li>
								<li class="last"><a href="#">Log out</a></li>
							</ul>
						</li>
						<li><a class="new_messages" href="#">4 new messages</a></li>
					</ul>
					<div id="server_details">
						<dl>
							<dt>Server time :</dt>
							<dd>6:45 AM</dd>
						</dl>
						<dl>
							<dt>Last login ip :</dt>
							<dd>192.168.0.15</dd>
						</dl>
					</div>
					<!--[if !IE]>start search<![endif]-->
					<div id="search_wrapper">
						<form action="#">
							<fieldset>
								<label>
									<input class="text" name="" type="text" />
								</label>
								<span class="go"><input name="" type="submit" /></span>
							</fieldset>
						</form>
						<ul id="search_wrapper_menu">
							<li class="first"><a href="#">Advanced Search</a></li>
							<li class="last"><a href="#">Admin Map</a></li>
						</ul>
					</div>
				<!--[if !IE]>end search<![endif]-->
				</div>
				
				<!--[if !IE]>end user details<![endif]-->
				
				
				
			</div>
			
			<!--[if !IE]>end logo end user details<![endif]-->
			
			
			
			<!--[if !IE]>start menus_wrapper<![endif]-->
			<div id="menus_wrapper">
				
				
				
				
				
				<div id="main_menu">
					<ul>
						<li><a href="#" class="selected"><span><span>Main Controls</span></span></a></li>
						<li><a href="#"><span><span>Server Settings</span></span></a></li>
						<li><a href="#"><span><span>Product Management</span></span></a></li>
						<li><a href="#"><span><span>User Accounts</span></span></a></li>
						<li><a href="#"><span><span>SEO</span></span></a></li>
						<li class="last"><a href="#"><span><span>Static Pages</span></span></a></li>
					</ul>
				</div>
				
				
				
				<div id="sec_menu">
					<ul>
						<li><a href="#" class="sm1">Security Settings</a></li>
						<li><a href="#" class="sm2">Chat and PMs</a></li>
						<li><a href="#" class="sm3">Search Options</a></li>
						<li><a href="#" class="sm4">Moderators</a></li>
						<li><a href="#" class="sm5">Upload Options</a></li>
						<li><a href="#" class="sm6">Download Options</a></li>
						<li><a href="#" class="sm7">Emails</a></li>
						<li>
							<span class="drop"><span><span><a href="#" class="sm8">More</a></span></span></span>
							<ul>
								<li><a class="sm6" href="#">Download options</a></li>
								<li><a class="sm4" href="#">Menu item</a></li>
								<li><a class="sm6" href="#">Download options</a></li>
								<li><a class="sm6" href="#">Download options</a></li>
								<li><a class="sm6" href="#">Download options</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!--[if !IE]>end menus_wrapper<![endif]-->
			
			
			
		</div>
		<!--[if !IE]>end head<![endif]-->
		
		<!--[if !IE]>start content<![endif]-->
		<div id="content">
			
			
			
			
			
			<!--[if !IE]>start page<![endif]-->
			<div id="page">
				<div class="inner">
					
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>Dashboard</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
												<!--[if !IE]>start dashboard menu<![endif]-->
												<div class="dashboard_menu_wrapper">
												<ul class="dashboard_menu">
													<li><a href="#" class="d1"><span>User Management Tools</span></a></li>
													<li><a href="#" class="d2"><span>Setup upload folders</span></a></li>
													<li><a href="#" class="d3"><span>Manage photo galleries</span></a></li>
													<li><a href="#" class="d4"><span>Change site templates</span></a></li>
													<li><a href="#" class="d5"><span>SEO Tools and Settings</span></a></li>
													<li><a href="#" class="d6"><span>Email Settings and Templates</span></a></li>
													<li><a href="#" class="d7"><span>Homepage and Static Pages</span></a></li>
													<li><a href="#" class="d8"><span>Website Security Settings</span></a></li>
													<li><a href="#" class="d9"><span>Printable Pages Template</span></a></li>
													<li><a href="#" class="d10"><span>Date and Time Setup</span></a></li>
													<li><a href="#" class="d11"><span>Favorires Settings</span></a></li>
													<li><a href="#" class="d12"><span>Statistics and Graphs</span></a></li>
												</ul>
												</div>
												<!--[if !IE]>end dashboard menu<![endif]-->
												
												
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section table_section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>Table Template</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
												
												<form action="#">
												<fieldset>
												<!--[if !IE]>start table_wrapper<![endif]-->
												<div class="table_wrapper">
													<div class="table_wrapper_inner">
													<table cellpadding="0" cellspacing="0" width="100%">
														<tbody><tr>
															<th>No.</th>
															<th><a href="#">Status</a></th>
															<th><a href="#" class="asc">ID#</a></th>
															<th><a href="#" class="desc">Full Name</a></th>
															<th><a href="#">Date</a></th>
															<th><a href="#">Price</a></th>
															<th style="width: 96px;">Actions</th>
														</tr>
														<tr class="first">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td style="width: 96px;">
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="second">
															<td>1.</td>
															<td><span class="pending">Pending</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="first">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="second">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="first">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="second">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="first">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="second">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="first">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														<tr class="second">
															<td>1.</td>
															<td><span class="approved">Approved</span></td>
															<td>FB-H061</td>
															<td>Elaine Rosen</td>
															<td>06/18/2008</td>
															<td>$106.38</td>
															<td>
																<div class="actions">
																	<ul>
																		<li><a class="action1" href="#">1</a></li>
																		<li><a class="action2" href="#">2</a></li>
																		<li><a class="action3" href="#">3</a></li>
																		<li><a class="action4" href="#">4</a></li>
																		<li><input class="radio" name="" type="checkbox" value="" /></li>
																	</ul>
																</div>
															</td>
														</tr>
														
														
													</tbody></table>
													</div>
												</div>
												<!--[if !IE]>end table_wrapper<![endif]-->
												
												<!--[if !IE]>start table menu<![endif]-->
												<div class="table_menu">
													<ul class="left">
														<li><a href="#" class="button add_new"><span><span>ADD NEW</span></span></a></li>
													</ul>
													<ul class="right">
														<li><a href="#" class="button check_all"><span><span>CHECK ALL</span></span></a></li>
														<li><a href="#" class="button uncheck_all"><span><span>UNCHECK ALL</span></span></a></li>
														<li><span class="button approve"><span><span>APPROVE</span></span></span></li>
													</ul>
												</div>
												<!--[if !IE]>end table menu<![endif]-->
												
												
												</fieldset>
												</form>
												
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>Forms Template</h2>
							
							<!--[if !IE]>start section menu<![endif]-->
							<ul class="section_menu">
								<li><a href="#"><span><span>Inactive Tab</span></span></a></li>
								<li><a href="#" class="active"><span><span>Active Tab</span></span></a></li>
								<li><a href="#"><span><span>Products</span></span></a></li>
								<li><a href="#"><span><span>Last One</span></span></a></li>
							</ul>
							<!--[if !IE]>end section menu<![endif]-->
							
							
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
												
												<h3>Subtitle will go here if needed</h3>
														
												<p>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit, nisl sit amet iaculis ullamcorper, orci tellus feugiat est, at dapibus massa dui vel lectus. Sed felis nunc, pharetra ullamcorper, fermentum nec, cursus nec, ipsum. Nunc porta blandit risus. Proin pharetra. Proin ultrices viverra lorem. Phasellus tellus enim, accumsan et, luctus vitae, mattis in, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate, arcu consectetur auctor lacinia, justo est suscipit massa, a 
												</p>
												
												
												<!--[if !IE]>start forms<![endif]-->
												<form action="#" class="search_form general_form">
													<!--[if !IE]>start fieldset<![endif]-->
													<fieldset>
														<!--[if !IE]>start forms<![endif]-->
														<div class="forms">
														
														
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<label>Valid check:</label>
															<div class="inputs">
																<span class="input_wrapper"><input class="text" name="" type="text" /></span>
																<span class="system positive">This is a positive message</span>
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<label>Return error:</label>
															<div class="inputs">
																<span class="input_wrapper"><input class="text" name="" type="text" /></span>
																<span class="system negative">This is a negative message</span>
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<label>Vertical radio:</label>
															<div class="inputs">
																<ul class="inline">
																	<li> <input class="radio" name="" value="" type="radio" /> all orders</li>
																	<li><input class="radio" name="" value="" type="radio" /> pending</li>
																	<li><input class="radio" name="" value="" type="radio" /> unshipped</li>
																	<li><input class="radio" name="" value="" type="radio" /> shipped</li>
																</ul>
																
																<ul class="inline">
																	<li><input class="checkbox" name="" value="" type="checkbox" /> all orders</li>
																	<li><input class="checkbox" name="" value="" type="checkbox" /> pending</li>
																	<li><input class="checkbox" name="" value="" type="checkbox" /> unshipped</li>
																	<li><input class="checkbox" name="" value="" type="checkbox" /> shipped</li>
																</ul>
																
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<label>Attach files:</label>
															<div class="inputs">
																<span class="input_wrapper blank"><input name="" type="file" /></span>
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<label>City:</label>
															<div class="inputs">
																<span class="input_wrapper blank">
																	<select>
																		<option>Washington</option>
																		<option>Washington</option>
																		<option>Washington</option>
																		<option>Washington</option>
																		<option>Washington</option>
																	</select>
																</span>
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<label>Price between:</label>
															<div class="inputs">
																<ul>
																	<li><span class="input_wrapper medium_input"><input class="text" name="" type="text" /></span></li>
																	<li>and</li>
																	<li><span class="input_wrapper medium_input"><input class="text" name="" type="text" /></span> </li>
																</ul>
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<label>Price between:</label>
															<div class="inputs">
																<ul class="mc_menu">
																	<li><a href="#"><strong>B</strong></a></li>
																	<li><a href="#"><i>i</i></a></li>
																	<li><a href="#">u</a></li>
																	<li><a href="#">Code</a></li>
																	<li><a href="#">List</a></li>
																	<li><a href="#">List=</a></li>
																	<li><a href="#">[*]</a></li>
																	<li><a href="#">URL</a></li>
																	<li><a href="#">Img</a></li>
																</ul>
																
																<span class="input_wrapper textarea_wrapper">
																	<textarea rows="" cols="" class="text"></textarea>
																</span>
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														
														
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<div class="buttons">
																
																
																<ul>
																	<li><span class="button send_form_btn"><span><span>SEND FORM</span></span><input name="" type="submit" /></span></li>
																	<li><span class="button cancel_btn"><span><span>CANCEL</span></span><input name="" type="submit" /></span></li>
																</ul>
																
																<ul>
																	<li><span class="button orange_btn"><span><span>ORANGE</span></span><input name="" type="submit" /></span></li>
																	<li><span class="button red_btn"><span><span>RED</span></span><input name="" type="submit" /></span></li>
																</ul>
																
																
																<ul>
																	<li><span class="button grey_btn"><span><span>GREY</span></span><input name="" type="submit" /></span></li>
																	<li><span class="button light_blue_btn"><span><span>LIGHT BLUE</span></span><input name="" type="submit" /></span> </li>
																</ul>
																
																
																
																
																       
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														
														
														</div>
														<!--[if !IE]>end forms<![endif]-->
														
													</fieldset>
													<!--[if !IE]>end fieldset<![endif]-->
													
													
													
													
												</form>
												<!--[if !IE]>end forms<![endif]-->	
												
												<!--[if !IE]>start system messages<![endif]-->
												<ul class="system_messages">
													<li class="white"><span class="ico"></span><strong class="system_title">White bar can be used for system messages and other neutral things.</strong> defwe fwef we</li>
													<li class="red"><span class="ico"></span><strong class="system_title">This is a negative error message !</strong></li>
													<li class="blue"><span class="ico"></span><strong class="system_title">Blue bar can be used for tips, information etc.</strong></li>
													<li class="green"><span class="ico"></span><strong class="system_title">This is a positive message !</strong></li>
													<li class="yellow"><span class="ico"></span><strong class="system_title">This is a warning !</strong></li>
												</ul>
												<!--[if !IE]>end system messages<![endif]-->
														
												
												
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section table_section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>Table Template</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
												
												
												<div  id="product_list">
												<!--[if !IE]>start table_wrapper<![endif]-->
												<div class="table_wrapper">
													<div class="table_wrapper_inner">
													<table cellpadding="0" cellspacing="0" width="100%">
														<tbody><tr>
															<th>No.</th>
															<th class="photo"><span>Photo</span></th>
															<th><a href="#" class="asc">Name</a></th>
															
															<th><a href="#">Price</a></th>
															<th><a href="#">Move</a></th>
															
															<th>Actions</th>
														</tr>
														
														<tr class="first">
															<td style="width: 16px;">1.</td>
															<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
															<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
															
															<td style="width: 65px;">$106.38</td>
															<td style="width: 64px;">
																<div class="move_menu">
																	<ul>
																		<li><a href="#" class="move1">1</a></li>
																		<li><a href="#" class="move2">2</a></li>
																		<li><a href="#" class="move3">3</a></li>
																		<li><a href="#" class="move4">4</a></li>
																	</ul>
																</div>
															</td>
															<td style="width: 120px;">
																<div class="actions_menu">
																	<ul>
																		
																		<li><a class="edit" href="#">Edit</a></li>
																		<li><a class="delete" href="#">Delete</a></li>
																	</ul>
																</div>
															</td>
														</tr>
														
														<tr class="second">
															<td>1.</td>
															<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
															<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
															
															<td>$106.38</td>
															<td>
																<div class="move_menu">
																	<ul>
																		<li><a href="#" class="move1">1</a></li>
																		<li><a href="#" class="move2">2</a></li>
																		<li><a href="#" class="move3">3</a></li>
																		<li><a href="#" class="move4">4</a></li>
																	</ul>
																</div>
															</td>
															<td>
																<div class="actions_menu">
																	<ul>
																		
																		<li><a class="edit" href="#">Edit</a></li>
																		<li><a class="delete" href="#">Delete</a></li>
																	</ul>
																</div>
															</td>
														</tr>
														
														<tr class="first">
															<td>1.</td>
															<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
															<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
															
															<td>$106.38</td>
															<td>
																<div class="move_menu">
																	<ul>
																		<li><a href="#" class="move1">1</a></li>
																		<li><a href="#" class="move2">2</a></li>
																		<li><a href="#" class="move3">3</a></li>
																		<li><a href="#" class="move4">4</a></li>
																	</ul>
																</div>
															</td>
															<td>
																<div class="actions_menu">
																	<ul>
																		
																		<li><a class="edit" href="#">Edit</a></li>
																		<li><a class="delete" href="#">Delete</a></li>
																	</ul>
																</div>
															</td>
														</tr>
														
														<tr class="second">
															<td>1.</td>
															<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
															<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
															
															<td>$106.38</td>
															<td>
																<div class="move_menu">
																	<ul>
																		<li><a href="#" class="move1">1</a></li>
																		<li><a href="#" class="move2">2</a></li>
																		<li><a href="#" class="move3">3</a></li>
																		<li><a href="#" class="move4">4</a></li>
																	</ul>
																</div>
															</td>
															<td>
																<div class="actions_menu">
																	<ul>
																		
																		<li><a class="edit" href="#">Edit</a></li>
																		<li><a class="delete" href="#">Delete</a></li>
																	</ul>
																</div>
															</td>
														</tr>
														
														<tr class="first">
															<td>1.</td>
															<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
															<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
															
															<td>$106.38</td>
															<td>
																<div class="move_menu">
																	<ul>
																		<li><a href="#" class="move1">1</a></li>
																		<li><a href="#" class="move2">2</a></li>
																		<li><a href="#" class="move3">3</a></li>
																		<li><a href="#" class="move4">4</a></li>
																	</ul>
																</div>
															</td>
															<td>
																<div class="actions_menu">
																	<ul>
																		
																		<li><a class="edit" href="#">Edit</a></li>
																		<li><a class="delete" href="#">Delete</a></li>
																	</ul>
																</div>
															</td>
														</tr>
														
														<tr class="second">
															<td>1.</td>
															<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
															<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
															
															<td>$106.38</td>
															<td>
																<div class="move_menu">
																	<ul>
																		<li><a href="#" class="move1">1</a></li>
																		<li><a href="#" class="move2">2</a></li>
																		<li><a href="#" class="move3">3</a></li>
																		<li><a href="#" class="move4">4</a></li>
																	</ul>
																</div>
															</td>
															<td>
																<div class="actions_menu">
																	<ul>
																		
																		<li><a class="edit" href="#">Edit</a></li>
																		<li><a class="delete" href="#">Delete</a></li>
																	</ul>
																</div>
															</td>
														</tr>
														
													</tbody></table>
													</div>
												</div>
												<!--[if !IE]>end table_wrapper<![endif]-->
												</div>
												
												
												
												<!--[if !IE]>start pagination<![endif]-->
												<div class="pagination">
													<span class="page_no">Page 1 of 217</span>
													
													<ul class="pag_list">
														<li><a href="#" class="button light_blue_btn"><span><span>PREVIOUS</span></span></a> </li>
														<li><a href="#">1</a></li>
														<li><a href="#" class="current_page"><span><span>2</span></span></a></li>
														<li><a href="#">3</a></li>
														<li><a href="#">4</a></li>
														<li><a href="#">5</a></li>
														<li>[...]</li>
														<li><a href="#">217</a></li>
														<li><a href="#" class="button light_blue_btn"><span><span>NEXT</span></span></a> </li>
													</ul>
													
													
												</div>
												<!--[if !IE]>end pagination<![endif]-->
												
												
												
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					
					
						
				</div>
			</div>
			<!--[if !IE]>end page<![endif]-->
			<!--[if !IE]>start sidebar<![endif]-->
			<div id="sidebar">
				<div class="inner">
				
				
					<!--[if !IE]>start calendar<![endif]-->
					<div class="calendar">
						<div class="calendar_top">
							<strong>18:36</strong>
							<span>Thursday, 23rd December 2008</span>
						</div>
						<div class="calendar_middle">
							<div class="calendar_data">
							
							
							
							<!--[if !IE]>start calendar data<![endif]-->
							
										<div class="cmonth">
										<div class="ctrl">
											<table cellspacing="0" cellpadding="0">
												<tr>
													<td align="left" style="width: 15px;"><a class="calendar_prev" href="#">&laquo; </a></td>
													<td align="center"><span><strong>December 2008</strong></span></td>
													<td align="right" style="width: 15px;"><a class="calendar_next" href="#">&raquo;</a></td>
												</tr>
						
											</table>
										</div>
			
										
										</div>

										
							
										<div class="cont">
											<ul class="chead">
												<li><span>sun</span></li>
							
												<li><span>mon</span></li>
												<li><span>tue</span></li>
												<li><span>wed</span></li>
												<li><span>thu</span></li>
												<li><span>fri</span></li>
												<li><span>sat</span></li>
							
											</ul>
											
											<ul class="cdays">				
												<li><span></span></li>
												<li><a href="#">1</a></li>
							
												<li><a href="#">2</a></li>
							
												<li><a href="#">3</a></li>
							
												<li><a href="#">4</a></li>
							
												<li><a href="#"  class="event">5</a></li>
							
												<li><a href="#"  class="event">6</a></li>
							
												<li><a href="#">7</a></li>
							
												<li><a href="#">8</a></li>
							
												<li><a href="#">9</a></li>
							
												<li><a href="#">10</a></li>
							
												<li><a href="#">11</a></li>
							
												<li><a href="#"  class="event">12</a></li>
							
												<li><a href="#"  class="event">13</a></li>
							
												<li><a href="#">14</a></li>
							
												<li><a href="#">15</a></li>
							
												<li><a href="#">16</a></li>
							
												<li><a href="#">17</a></li>
							
												<li><a href="#">18</a></li>
							
												<li><a href="#">19</a></li>
							
												<li><a href="#"  class="event">20</a></li>
							
												<li><a href="#">21</a></li>
							
												<li><a href="#">22</a></li>
							
												<li><a href="#">23</a></li>
							
												<li><a href="#">24</a></li>
							
												<li><a href="#">25</a></li>
							
												<li><a href="#">26</a></li>
							
												<li><a href="#">27</a></li>
							
												<li><a href="#">28</a></li>
							
												<li><a href="#">29</a></li>
							
												<li><a href="#">30</a></li>
							
												<li><a href="#">31</a></li>
												<li><span></span></li>
												<li><span></span></li>
												<li><span></span></li>
											</ul>
											
										</div>

							
							
							
							<!--[if !IE]>end calendar data<![endif]-->
							
							
							
							
							
							</div>
						</div>
						<div class="calendar_bottom"></div>
						<!--[if !IE]>start section content footer<![endif]-->
						<div class="section_content_footer">
							<ul>
								<li><a href="#" class="plus">Add new event</a></li>
								<li><a href="#" class="next">Next Event</a></li>
							</ul>
							<span class="scf"></span>
						</div>
						<!--[if !IE]>end section content footer<![endif]-->
					</div>
					<!--[if !IE]>end calendar<![endif]-->
					
					
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>Sidebar Menu</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
												<ul class="sidebar_menu">
													<li><a href="#">View pending orders list</a></li>
													<li><a href="#">Shipping and handling fees</a></li>
													<li><a href="#">Setup registration</a></li>
													<li><a href="#">Manage filters</a></li>
													<li><a href="#">Dashboard links</a></li>
													<li><a href="#">Product Categories</a></li>
													<li class="last"><a href="#">SEO Settings</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>To do list</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
													
													<div class="todo_list">
														<dl>
															<dt><span class="order">1</span> View pending orders list</dt>
															<dd>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet elit pellentesque odio laoreet lacinia. 
															</dd>
															<dd>
																<ul class="todo_menu">
																	<li><a href="#">Get started</a></li>
																	<li><a href="#">Check notes</a></li>
																</ul>
															</dd>
														</dl>
													
														<dl>
															<dt><span class="order">2</span> Verify New Uploads</dt>
															<dd>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet elit 
															</dd>
															<dd>
																<ul class="todo_menu">
																	<li><a href="#">Get started</a></li>
																	<li><a href="#">Approve all</a></li>
																</ul>
															</dd>
														</dl>
													
														<dl class="last">
															<dt><span class="order">3</span>Manage Banners</dt>
															<dd>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet elit pellentesque odio laoreet lacinia.
															</dd>
															<dd>
																<ul class="todo_menu">
																	<li><a href="#">Go</a></li>
																	<li><a href="#">Config. 1</a></li>
																	<li><a href="#">Config. 2</a></li>
																</ul>
															</dd>
														</dl>
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					<!--[if !IE]>start section<![endif]-->	
					<div class="section">
						<!--[if !IE]>start title wrapper<![endif]-->
						<div class="title_wrapper">
							<h2>Photo Gallery</h2>
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
												<div class="photo_gallery">
													
													
														<div class="gal_top">
															<div class="gal_bottom">
																<div class="gal_left">
																	<div class="gal_right">
																		<ul>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																			<li><a href="#"><img width="96" height="71" src="images/gallery_thumb.jpg" alt="" /></a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													
													
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
							<!--[if !IE]>start section content footer<![endif]-->
							<div class="section_content_footer">
								<ul>
									<li><a href="#" class="plus">Add new photo</a></li>
									<li><a href="#" class="list">View all photos</a></li>
								</ul>
								<span class="scf"></span>
							</div>
							<!--[if !IE]>end section content footer<![endif]-->
							
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
					</div>
					<!--[if !IE]>end section<![endif]-->
					
					
					<!--[if !IE]>start quick info<![endif]-->
					<div class="quick_info">
						<div class="quick_info_top">
							<h2>Quick info</h2>
						</div>
						<div class="quick_info_content">
							<dl>
								<dt>12 products</dt>
								<dd>avaiting approval</dd>
							</dl>
							<dl>
								<dt>228 sales</dt>
								<dd>in the last 24 hours</dd>
							</dl>
							<dl>
								<dt>18 users</dt>
								<dd>currently online</dd>
							</dl>
							<dl>
								<dt>15.2%</dt>
								<dd>increase in traffic this month</dd>
							</dl>
						</div>
						<span class="quick_info_bottom"></span>
					</div>
					<!--[if !IE]>end quick info<![endif]-->
					
					
				
				
				</div>
			</div>
			<!--[if !IE]>end sidebar<![endif]-->
			
			
			
			
		</div>
		<!--[if !IE]>end content<![endif]-->
		
	</div>
	<!--[if !IE]>end wrapper<![endif]-->
	
	<!--[if !IE]>start footer<![endif]-->
	<div id="footer">
		<div id="footer_inner">
		
		<dl class="copy">
			<dt><strong>HyperAdmin</strong> <em>build 26122008</em></dt>
			<dd>&copy; 2008 Yourcompany.com  All rights reserved.</dd>
		</dl>
		
		<dl class="quick_links">
			<dt><strong>Quick Links :</strong></dt>
			<dd>
				<ul>
					<li><a href="#">Dashboard </a></li>
					<li><a href="#">My Account</a></li>
					<li><a href="#">General Settings</a></li>
					<li><a href="#">Static Pages</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Marketing</a></li>
					<li class="last"><a href="#">Log out</a></li>
				</ul>
			</dd>
		</dl>
		
		
		<dl class="help_links">
			<dt><strong>Need Help ?</strong></dt>
			<dd>
				<ul>
					<li><a href="#">Live Help</a></li>
					<li><a href="#">FAQ</a></li>
					<li class="last"><a href="#">Knowledgebase</a></li>
				</ul>
			</dd>
		</dl>
	
		</div>
	</div>
	<!--[if !IE]>end footer<![endif]-->
	
</body>
</html>
