<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="imagetoolbar" content="no" />
		<title><%= "#{AppConfig['app_name']} Login" -%></title>
		<%= stylesheet_link_tag "admin-login", :cache => true %>
		<!--[if lte IE 6]><link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/admin-login-ie.css" /><![endif]-->
		<%= yield :head %>
	</head>
	<body>
		<%= yield -%>
	</body>
</html>