<h1><%= @page_title = 'Cancel Account' %></h1>

<p>You are about to cancel your account.  This will <strong>permanently delete all your data</strong>.  Once you do this, you will no longer have access to your data, so be sure this is really what you want to do. </p>

<h2>Wait!  Before you go...</h2>
<p>
  Instead of canceling your account, perhaps you'd like to just switch your plan.  <a href="/account/plan">Change your subscription level now</a>.
</p>

<% form_tag :action => 'cancel' do %>
  <fieldset>
    <legend>Cancel Confirmation</legend>

    <input type="checkbox" name="confirm" class="checkbox" value="1" />
    I really do want to cancel my account and delete all my data.
  </fieldset>

  <%= submit_or_cancel '/account', 'Delete my Account' %>
<% end %>
