<% @page_title = "Dashboard" %>

<%= render :partial => 'dashborad_sidebar' %>

<!--[if !IE]>start section<![endif]-->	
<div class="section table_section">
	<!--[if !IE]>start title wrapper<![endif]-->
	<div class="title_wrapper">
		<h2>Recent History</h2>

		<!--[if !IE]>start section menu<![endif]-->
		<ul class="section_menu">
			<li><a href="#" class="active"><span><span>All</span></span></a></li>
			<li><a href="#"><span><span>Contacts</span></span></a></li>
			<li><a href="#"><span><span>Companies</span></span></a></li>
			<li><a href="#"><span><span>Candidates</span></span></a></li>
			<li><a href="#"><span><span>Jobs</span></span></a></li>
		</ul>
		<!--[if !IE]>end section menu<![endif]-->
		
		
		<span class="title_wrapper_left"></span>
		<span class="title_wrapper_right"></span>
	</div>
	<!--[if !IE]>end title wrapper<![endif]-->
	<!--[if !IE]>start section content<![endif]-->
	<div class="section_content">
		<!--[if !IE]>start section content top<![endif]-->
		<div class="sct">
			<div class="sct_left">
				<div class="sct_right">
					<div class="sct_left">
						<div class="sct_right">
							
							
							<div  id="product_list">
							<!--[if !IE]>start table_wrapper<![endif]-->
							<div class="table_wrapper">
								<div class="table_wrapper_inner">
								<table cellpadding="0" cellspacing="0" width="100%">
									<tbody><tr>
										<th>No.</th>
										<th class="photo"><span>Photo</span></th>
										<th><a href="#" class="asc">Name</a></th>
										
										<th><a href="#">Price</a></th>
										<th><a href="#">Move</a></th>
										
										<th>Actions</th>
									</tr>
									
									<tr class="first">
										<td style="width: 16px;">1.</td>
										<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
										<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
										
										<td style="width: 65px;">$106.38</td>
										<td style="width: 64px;">
											<div class="move_menu">
												<ul>
													<li><a href="#" class="move1">1</a></li>
													<li><a href="#" class="move2">2</a></li>
													<li><a href="#" class="move3">3</a></li>
													<li><a href="#" class="move4">4</a></li>
												</ul>
											</div>
										</td>
										<td style="width: 120px;">
											<div class="actions_menu">
												<ul>
													
													<li><a class="edit" href="#">Edit</a></li>
													<li><a class="delete" href="#">Delete</a></li>
												</ul>
											</div>
										</td>
									</tr>
									
									<tr class="second">
										<td>1.</td>
										<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
										<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
										
										<td>$106.38</td>
										<td>
											<div class="move_menu">
												<ul>
													<li><a href="#" class="move1">1</a></li>
													<li><a href="#" class="move2">2</a></li>
													<li><a href="#" class="move3">3</a></li>
													<li><a href="#" class="move4">4</a></li>
												</ul>
											</div>
										</td>
										<td>
											<div class="actions_menu">
												<ul>
													
													<li><a class="edit" href="#">Edit</a></li>
													<li><a class="delete" href="#">Delete</a></li>
												</ul>
											</div>
										</td>
									</tr>
									
									<tr class="first">
										<td>1.</td>
										<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
										<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
										
										<td>$106.38</td>
										<td>
											<div class="move_menu">
												<ul>
													<li><a href="#" class="move1">1</a></li>
													<li><a href="#" class="move2">2</a></li>
													<li><a href="#" class="move3">3</a></li>
													<li><a href="#" class="move4">4</a></li>
												</ul>
											</div>
										</td>
										<td>
											<div class="actions_menu">
												<ul>
													
													<li><a class="edit" href="#">Edit</a></li>
													<li><a class="delete" href="#">Delete</a></li>
												</ul>
											</div>
										</td>
									</tr>
									
									<tr class="second">
										<td>1.</td>
										<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
										<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
										
										<td>$106.38</td>
										<td>
											<div class="move_menu">
												<ul>
													<li><a href="#" class="move1">1</a></li>
													<li><a href="#" class="move2">2</a></li>
													<li><a href="#" class="move3">3</a></li>
													<li><a href="#" class="move4">4</a></li>
												</ul>
											</div>
										</td>
										<td>
											<div class="actions_menu">
												<ul>
													
													<li><a class="edit" href="#">Edit</a></li>
													<li><a class="delete" href="#">Delete</a></li>
												</ul>
											</div>
										</td>
									</tr>
									
									<tr class="first">
										<td>1.</td>
										<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
										<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
										
										<td>$106.38</td>
										<td>
											<div class="move_menu">
												<ul>
													<li><a href="#" class="move1">1</a></li>
													<li><a href="#" class="move2">2</a></li>
													<li><a href="#" class="move3">3</a></li>
													<li><a href="#" class="move4">4</a></li>
												</ul>
											</div>
										</td>
										<td>
											<div class="actions_menu">
												<ul>
													
													<li><a class="edit" href="#">Edit</a></li>
													<li><a class="delete" href="#">Delete</a></li>
												</ul>
											</div>
										</td>
									</tr>
									
									<tr class="second">
										<td>1.</td>
										<td class="photo"><a href="#" class="product_thumb"><img src="images/product_photo.jpg" alt="" height="41" width="73" /></a></td>
										<td><a href="#" class="product_name">Flash Website Templates Package</a></td>
										
										<td>$106.38</td>
										<td>
											<div class="move_menu">
												<ul>
													<li><a href="#" class="move1">1</a></li>
													<li><a href="#" class="move2">2</a></li>
													<li><a href="#" class="move3">3</a></li>
													<li><a href="#" class="move4">4</a></li>
												</ul>
											</div>
										</td>
										<td>
											<div class="actions_menu">
												<ul>
													
													<li><a class="edit" href="#">Edit</a></li>
													<li><a class="delete" href="#">Delete</a></li>
												</ul>
											</div>
										</td>
									</tr>
									
								</tbody></table>
								</div>
							</div>
							<!--[if !IE]>end table_wrapper<![endif]-->
							</div>
							
							
							
							<!--[if !IE]>start pagination<![endif]-->
							<div class="pagination">
								<span class="page_no">Page 1 of 217</span>
								
								<ul class="pag_list">
									<li><a href="#" class="button light_blue_btn"><span><span>PREVIOUS</span></span></a> </li>
									<li><a href="#">1</a></li>
									<li><a href="#" class="current_page"><span><span>2</span></span></a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li>[...]</li>
									<li><a href="#">217</a></li>
									<li><a href="#" class="button light_blue_btn"><span><span>NEXT</span></span></a> </li>
								</ul>
								
								
							</div>
							<!--[if !IE]>end pagination<![endif]-->
							
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--[if !IE]>end section content top<![endif]-->
		<!--[if !IE]>start section content bottom<![endif]-->
		<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
		<!--[if !IE]>end section content bottom<![endif]-->
		
	</div>
	<!--[if !IE]>end section content<![endif]-->
</div>
<!--[if !IE]>end section<![endif]-->


