<h1>Account created</h1>

<p>
  Thank you for creating an account!  You can now log in to your account at <a href="http://<%= flash[:domain] %>.<%= AppConfig['base_domain'] %>/">http://<%= flash[:domain] %>.<%= AppConfig['base_domain'] %>/</a>.
</p>